* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
body {
    position: relative;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
    @include pad {
        padding: 0 5%;
    }
    @include mobile {
        padding: 0 4%;
    }
}
.container-md {
    @include mobile {
        padding: 0;
    }
}
.block {
    display: block;
}