$small-sm: 4px;
$small-md: 8px;
$small-lg: 12px;
$small: 16px;
$middle-sm: 20px;
$middle-md: 24px;
$middle-lg: 28px;
$middle: 36px;
$large-sm: 40px;
$large-md: 48px;
$X-large: 80px;

$color-primary: #772400;
$color-secondary: #d54100;
$color-info: #6c757d;
$color-muted: #ced4da;
$color-warning: #f0ad25;
$color-border: #d5411a;
$color-white: #ffffff;
$color-label: #212529;