// banner
.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    @include pad {
        padding: 10% 0 15%;
    }
    @include mobile {
        padding: 0;
    }
    .pic {
        width: 45%;
        padding-top: 56.25%;
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/index-1.png");
        background-position: center center;
        background-size: cover;
        @include pad {
            width: 27.35%;
            margin: 0 auto;
            padding-top: 37.5%;
        }
        @include mobile {
            width: 100%;
            padding-top: 93.87%;
        }
    }
    .content {
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translateX(-85px);
        position: relative;
        @include pad {
            width: 100%;
            transform: translateX(0px);
        }
        @include mobile {
            text-align: center;
            padding: 0 4%;
        }
    }
    .title {
        color: $color-primary;
        font: normal normal bold 40px/60px Noto Sans CJK TC;
        margin-bottom: $small;
        @include pad {
            width: 50%;
            margin: 0 auto;
            font: normal normal bold 32px/48px Noto Sans CJK TC;
            margin-top: $middle-md;
        }
        @include mobile {
            width: 100%;
            font: normal normal bold 28px/42px Noto Sans CJK TC;
            margin-top: $middle-lg;
        }
    }
    .subtitle {
        color: $color-primary;
        font: normal normal bold 24px/36px Noto Sans CJK TC;
        margin-bottom: $large-md;
        @include pad {
            width: 50%;
            margin: 0 auto;
            font: normal normal medium 20px/30px Noto Sans CJK TC;
            margin-top: $small-md;
        }
        @include mobile {
            width: 100%;
            font: normal normal medium 20px/30px Noto Sans CJK TC;
        }
    }
    .select-group {
        display: flex;
        @include pad {
            display: block;
            text-align: center;
            margin-top: $middle-sm;
        }
        select {
            color: $color-info;
            padding: $small-md;
            font: normal normal normal 20px/24px Helvetica Neue;
        }
        .variety,
        .btn {
            width: 20%;
            @include pad {
                width: 50%;
                margin: 0 auto;
                border-radius: $small-sm;
            }
            @include mobile {
                width: 100%;
            }
        }
        .variety {
            border: 1px solid $color-muted;
            border-radius: $small-sm 0 0 $small-sm;
        }
        .btn {
            display: block;
            font: normal normal normal 20px/30px Noto Sans CJK TC;
            border: 1px solid $color-muted;
            border-radius: 0 $small-sm $small-sm 0;
            text-align: center;
            padding: $small-md 0;
            color: $color-white;
            background-color: $color-secondary;
            @include pad {
                margin-top: $small;
                border-radius: $small-sm;
            }
        }
        .area {
            border-radius: 0 4px 4px 0;
        }
        .service,
        .area {
            width: 30%;
            border: 1px solid $color-muted;
            @include pad {
                width: 50%;
                margin: $small-lg auto 0;
                border-radius: $small-sm;
            }
            @include mobile {
                width: 100%;
            }
        }
    }
    .material-icons {
        font-size: 48px;
        color: $color-secondary;
        position: absolute;
        right: 0;
        bottom: -240px;
        cursor: pointer;
        @include pad {
            right: 5%;
            bottom: -35%;
        }
        @include mobile {
            display: none;
        }
    }
}