// data
.data {
    display: flex;
    padding: $X-large 0;
    @include pad {
        padding: 60px 0;
    }
    @include mobile {
        padding: $large-md 0 60px;
    }
    .empty {
        width: 50%;
        @include pad {
            display: none;
        }
    }
    .content {
        width: 50%;
        @include pad {
            width: 100%;
        }
    }
    .subtitle {
        color: $color-primary;
        font: normal normal bold 24px/36px Noto Sans CJK TC;
        & ~ .subtitle {
            margin-top: $large-sm;
            @include pad {
                margin-top: $middle-sm;
            }
        }
    }
    .text {
        color: $color-primary;
        font: normal normal medium 20px/30px Noto Sans CJK TC;
        margin-top: $small-lg;
        @include pad {
            width: 55%;
            font: normal normal normal 16px/24px Noto Sans CJK TC;
        }
        @include mobile {
            width: 100%;
        }
    }
    .title {
        color: $color-primary;
        font: normal normal bold 28px/42px Noto Sans CJK TC;
        margin-bottom: $middle-md;
    }
    .comment-group {
        margin: $X-large 0;
        @include pad {
            margin: 60px 0;
        }
        @include mobile {
            margin: $large-md 0;
        }
    }
    .comment {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .host {
        width: 46%;
        display: flex;
        align-items: center;
        padding: $small 0 $small $small;
        border: 2px solid $color-muted;
        border-radius: $small-sm;
        &:nth-child(n + 3) {
            margin-top: $middle-sm;
        }
        @include pad {
            width: 48%;
        }
        @include mobile {
            width: 100%;
            &:nth-child(n + 2) {
                margin-top: $middle-sm;
            }
        }
    }
    .host-info {
        margin-left: $middle-sm;
    }
    .name {
        color: $color-primary;
        font: normal normal normal 16px/24px Noto Sans CJK TC;
        margin-bottom: $small-md;
    }
    .date {
        color: $color-info;
        font: normal normal normal 14px/19px Roboto;
        margin-left: $small-md;
    }
    .message {
        color: $color-primary;
        font: normal normal normal 16px/24px Noto Sans CJK TC;
        margin-top: $small-md;
    }
    .more {
        display: block;
        text-align: right;
        color: $color-primary;
        font: normal normal medium 20px/30px Noto Sans CJK TC;
        margin-top: $small-md;
        transition: 0.5s;
        &:hover {
            color: $color-secondary;
        }
    }
    .county,
    .hosting {
        text-decoration: underline;
        color: $color-secondary;
    }
    .hoster-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .hoster {
        width: 32%;
        box-shadow: 0 3px 6px $color-muted;
        border-radius: $small-sm;
        &:nth-child(n + 4) {
            margin-top: $small-md;
            @include pad {
                margin-top: $small;
            }
        }
        @include pad {
            width: 30%;
        }
        @include mobile {
            width: 48%;
            &:nth-child(n + 3) {
                margin-top: $small-lg;
            }
        }
    }
    .hoster-content {
        padding: $small-md $small-lg $middle;
        background-color: #f6f6f6;
        @include mobile {
            padding: $small-md $small-lg $middle-sm;
        }
    }
    .hoster-name {
        color: $color-primary;
        font: normal normal normal 16px/24px Noto Sans CJK TC;
        margin-bottom: 6px;
    }
    .service {
        color: $color-primary;
        font: normal normal normal 14px/21px Noto Sans CJK TC;
        margin-top: 6px;
    }
    .pic {
        height: 128px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: $small-sm $small-sm 0 0;
    }
    .pic-one {
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/homestay-2.jpeg");
    }
    .pic-two {
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/homestay-6.jpeg");
    }
    .pic-three {
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/homestay-8.jpeg");
    }
    .pic-four {
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/homestay-4.jpeg");
    }
    .pic-five {
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/homestay-7.jpeg");
    }
    .pic-six {
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/homestay-5.jpeg");
    }
    .btn-group {
        display: flex;
    }
    .btn {
        width: 50%;
        display: block;
        text-align: center;
        font: normal normal normal 16px/24px Noto Sans CJK TC;
        padding: $small-lg 0;
        transition: 0.5s;
    }
    .btn-contact {
        color: $color-primary;
        border-radius: 0 0 0 $small-sm;
        &:hover {
            color: $color-white;
            background-color: $color-primary;
        }
    }
    .btn-reservation {
        color: $color-secondary;
        border-radius: 0 0 $small-sm 0;
        &:hover {
            color: $color-white;
            background-color: $color-secondary;
        }
    }
    .lg-dn {
        display: none;
        @include pad {
            display: none;
        }
    }
    .sm-show {
        @include mobile {
            display: flex;
        }
    }
}
.material-icons {
    color: $color-warning;
}
