// header
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    @include mobile {
        justify-content: center;
    }
    .menu {
        display: flex;
        flex-wrap: wrap;
        @include mobile {
            width: 109%;
            position: absolute;
            top: 55px;
            background-color: $color-white;
            display: none;
        }
        li {
            @include mobile {
                width: 100%;
                text-align: center;
                border-bottom: 1px solid $color-muted;
            }
        }
        li + li {
            margin-left: $large-sm;
            @include mobile {
                margin-left: 0;
            }
        }
        .default {
            display: block;
            color: $color-primary;
            padding: $middle-sm 0;
            font: normal normal normal 16px/24px Noto Sans CJK TC;
            position: relative;
            @include mobile {
                font: normal normal medium 20px/30px Noto Sans CJK TC;
            }
            &::after {
                content: "";
                width: 0;
                height: 2px;
                background-color: $color-primary;
                position: absolute;
                left: 0;
                bottom: 16px;
                transition: 0.5s;
            }
            &:hover:after {
                width: 100%;
                @include mobile {
                    width: 0;
                }
            }
        }
    }
    .btn {
        display: none;
        @include mobile {
            font-size: 36px;
            color: $color-warning;
            display: block;
            position: absolute;
            right: 0;
            z-index: 5;
        }
    }
}
