// intro
.intro {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin: $X-large 0;
    @include pad {
        justify-content: space-between;
        margin: 60px 0 0 0;
    }
    @include mobile {
        flex-wrap: wrap;
        margin: 0;
    }
    .info {
        width: 50%;
        position: fixed;
        left: 85px;
        z-index: 1;
        @include pad {
            width: 55%;
            position: relative;
            left: 0;
        }
        @include mobile {
            width: 100%;
            order: 2;
            margin-top: $large-sm;
        }
    }
    .title {
        color: $color-primary;
        font: normal normal bold 32px/48px Noto Sans CJK TC;
        margin-bottom: $small;
    }
    .subtitle {
        color: $color-primary;
        font: normal normal bold 24px/36px Noto Sans CJK TC;
        margin-bottom: $small-md;
        @include pad {
            font: normal normal bold 20px/30px Noto Sans CJK TC;
            margin-bottom: $small-lg;
        }
    }
    .update {
        color: $color-primary;
        font: normal normal medium 16px/24px Noto Sans CJK TC;
        margin-bottom: 60px;
        @include pad {
            margin-bottom: $middle-lg;
        }
    }
    .service {
        color: $color-primary;
        font: normal normal bold 20px/30px Noto Sans CJK TC;
        margin-bottom: $small;
        @include pad {
            margin-bottom: $small-lg;
        }
    }
    .boarding-price,
    .shower-price,
    .babysitter-price {
        color: $color-primary;
        font: normal normal medium 16px/24px Noto Sans CJK TC;
    }
    .boarding-price,
    .shower-price {
        margin-bottom: $small;
    }
    .noted {
        display: block;
        color: $color-secondary;
        font: normal normal medium 14px/21px Noto Sans CJK TC;
        margin-top: $small-sm;
    }
    .location {
        margin: $large-sm 0 80px;
        display: flex;
        @include pad {
            margin: $middle-lg 0;
        }
        .material-icons {
            color: $color-secondary;
            margin-right: $small-lg;
        }
    }
    .address-group {
        p {
            color: $color-primary;
            font: normal normal medium 16px/24px Noto Sans CJK TC;
        }
    }
    .address {
        margin-bottom: $small-md;
    }
    .btn-group {
        display: flex;
        @include mobile {
            justify-content: space-between;
        }
    }
    .btn {
        display: block;
        font: normal normal normal 20px/30px Noto Sans CJK TC;
        padding: $small-md 0;
        border: 1px solid $color-border;
        border-radius: $small-sm;
        text-align: center;
        transition: 0.5s;
    }
    .intro-contact {
        width: 25%;
        color: $color-secondary;
        @include pad {
            width: 40%;
        }
        @include mobile {
            width: 48%;
        }
        &:hover {
            color: $color-white;
            background-color: $color-warning;
        }
    }
    .intro-reservation {
        width: 40%;
        color: $color-white;
        background-color: $color-secondary;
        margin-left: 30px;
        @include mobile {
            margin-left: 0;
        }
        &:hover {
            background-color: $color-warning;
        }
        @include mobile {
            width: 48%;
        }
    }
    .material-icons {
        color: $color-warning;
    }
    .photo-group {
        width: 50%;
        @include pad {
            width: 39.063%;
        }
        @include mobile {
            width: 100%;
        }
        .photo {
            // height: 440px;
            padding-top: 79.28%;
            background-position: center center;
            background-size: cover;
            border-radius: $small-sm;
            @include pad {
                padding-top: 81.485%;
            }
        }
        .photo-one {
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/homestay-3.jpeg");
        }
        .photo-two {
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/index-5.jpeg");
        }
        .photo-three {
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/detail-1.jpeg");
        }
        .photo-four {
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/detail2.jpeg");
        }
    }
    .sub-photo-group {
        display: flex;
        margin-top: $small-md;
        position: relative;
        z-index: 4;
        @include mobile {
            justify-content: space-between;
        }
        .pic {
            width: 96px;
            height: 96px;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: $small-sm;
            @include pad {
                width: 63px;
                height: 63px;
            }
            @include mobile {
                width: 82px;
                height: 82px;
            }
            cursor: pointer;
            & + .pic {
                margin-left: $small-md;
            }
        }
        .pic-one {
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/homestay-3.jpeg");
        }
        .pic-two {
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/index-5.jpeg");
        }
        .pic-three {
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/detail-1.jpeg");
        }
        .pic-four {
            background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/detail2.jpeg");
        }
    }
}