// item
.item-swiper {
    margin: $X-large 0;
    position: relative;
    @include pad {
        margin: 60px 0;
    }
    .card-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .card {
            width: 32%;
            padding: $small-sm;
            border-radius: $small-sm;
            box-shadow: 0 3px 6px $color-muted;
            @include pad {
                width: 30%;
            }
            @include mobile {
                width: 100%;
                margin-top: $small-lg;
            }
        }
    }
    .bg-img {
        // height: 120px;
        padding-top: 34.565%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .bg-img-one {
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/index-2.jpeg");
    }
    .bg-img-two {
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/index-3.jpeg");
        background-position: center 25%;
    }
    .bg-img-three {
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/index-4.jpeg");
    }
    .avatar {
        margin-top: -50px;
        text-align: center;
        .name {
            color: $color-primary;
            padding: $small-sm;
            font: normal normal bold 20px/30px Noto Sans CJK TC;
        }
        .service {
            color: $color-primary;
            font: normal normal normal 16px/24px Noto Sans CJK TC;
            margin-bottom: $small-lg;
        }
        .reserve {
            width: 50%;
            margin: 0 auto $middle-md;
            display: block;
            padding: $small-lg 0;
            color: $color-white;
            background-color: $color-secondary;
            font: normal normal normal 16px/24px Noto Sans CJK TC;
            border: 1px solid $color-border;
            border-radius: $small-sm;
            transition: 0.5s;
            &:hover {
                color: $color-primary;
                background-color: $color-white;
            }
            @include pad {
                width: 80%;
            }
            @include mobile {
                width: 50%;
            }
        }
    }
    .comment-group {
        display: flex;
        @include mobile {
            width: 80%;
            margin: 0 auto;
        }
        .comment {
            width: 50%;
            text-align: center;
        }
        .title {
            color: $color-primary;
            font: normal normal normal 16px/24px Noto Sans CJK TC;
            margin-bottom: $small-lg;
        }
        .text {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $color-primary;
            font: normal normal normal 14px/21px Noto Sans CJK TC;
            margin-bottom: $middle-lg;
        }
        .number {
            font: normal normal bold 28px/42px Noto Sans CJK TC;
            margin-right: $small-sm;
        }
    }
    .material-icons {
        font-size: 48px;
        color: $color-primary;
        position: absolute;
        right: -$middle-md;
        top: 52%;
        transform: rotate(-90deg);
        z-index: 10;
        cursor: pointer;
        @include mobile {
            display: none;
        }
        .swiper-button-next {
            display: block;
            width: 100%;
            height: 100%;
            text-indent: 101%;
            overflow: hidden;
            white-space: nowrap;
            outline: none;
        }
    }
}

// item and reservation and procedure
.card-title {
    color: $color-primary;
    font: normal normal bold 32px/48px Noto Sans CJK TC;
    margin-bottom: $small-sm;
}

.card-subtitle {
    color: $color-primary;
    font: normal normal medium 20px/30px Noto Sans CJK TC;
    margin-bottom: $small-lg;
}

.swiper-container {
    width: auto;
    height: auto;
    padding: $small-sm 0;
    position: relative;
    z-index: 1;
}
.bg-img-five {
    background-image: url("https://fakeimg.pl/350x120/93CCC3/ffffff/?.jpeg");
}
