// login-banner
.login-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    @include pad {
        justify-content: center;
    }
    .pic {
        width: 41.407%;
        padding-top: 57.5%;
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/index-1.png");
        background-position: center center;
        background-size: auto;
        @include pad {
            display: none;
        }
    }
    .content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translateX(-85px);
        position: relative;
        @include pad {
            width: 60%;
            transform: translateX(0px);
            margin-top: 176px;
        }
        @include mobile {
            width: 90%;
            margin-top: 73px;
        }
    }
    .title {
        color: $color-primary;
        font: normal normal bold 32px/48px Noto Sans CJK TC;
        margin-bottom: 60px;
        @include mobile {
            margin-bottom: $middle-md;
        }
    }
    label {
        font: normal normal normal 16px/24px Noto Sans CJK TC;
    }
    .email,
    .password {
        width: 100%;
        display: block;
        padding: $small-lg $small;
        margin-top: $small-md;
        border-radius: $small-sm;
        border: 1px solid $color-muted;
        &::placeholder {
            color: $color-info;
            font: normal normal 300 20px/24px Roboto;
        }
    }
    .mt-16 {
        margin-top: $small;
    }
    .forget-password {
        color: $color-info;
        font: normal normal normal 14px/21px Noto Sans CJK TC;
        margin-top: $small-sm;
    }
    .checkbox-group {
        display: flex;
        align-items: center;
        margin-top: $small;
    }
    .checkbox {
        margin-top: $small-sm;
    }
    .save-account {
        margin-left: $small-sm;
        font: normal normal normal 16px/24px Noto Sans CJK TC;
    }
    .btn-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 32px;
        @include pad {
            margin-top: $middle-lg;
        }
    }
    .facebook,
    .google {
        width: 49%;
        font: normal normal normal 16px/21px Roboto;
        text-align: center;
        border-radius: $small-sm;
        border: 1px solid $color-muted;
        color: $color-info;
        @include pad {
            width: 100%;
        }
    }
    .google {
        @include pad {
            margin-top: $small-lg;
        }
    }
    .login {
        width: 40%;
        text-align: center;
        margin-top: $large-sm;
        padding: $small-md 0;
        color: $color-white;
        font: normal normal normal 20px/30px Noto Sans CJK TC;
        background-color: $color-secondary;
        border-radius: $small-sm;
        @include pad {
            width: 100%;
        }
    }
    .not-register {
        color: $color-secondary;
        margin-top: $small-md;
        font: normal normal normal 16px/24px Noto Sans CJK TC;
    }
}

