// logo
.logo {
    width: 120px;
    height: 55px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/logo.svg");
    background-position: center center;
    background-size: auto;
    background-repeat: no-repeat;
    a {
        width: 100%;
        height: 100%;
        display: block;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }
}
.logo-lg {
    display: none;
    @include mobile {
        display: block;
        margin-top: $small-md;
    }
}