//member-content
.member-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 160px;
    @include mobile {
        padding-top: 60px;
    }
}
.member-data {
    width: 50%;
    padding-left: 100px;
    @include pad {
        padding-left: 0;
    }
    @include mobile {
        width: 100%;
    }
    .title,
    .avatar,
    .email,
    .contact,
    .gender,
    .address {
        display: flex;
        align-items: center;
    }
    .title {
        color: $color-primary;
        font: normal normal bold 32px/48px Noto Sans CJK TC;
        margin-bottom: 30px;
        @include mobile {
            margin-bottom: $large-sm;
        }
    }
    .subtitle {
        width: 20%;
        font: normal normal normal 16px/24px Noto Sans CJK TC;
        @include pad {
            width: 35%;
        }
    }
    .member-info {
        color: $color-primary;
        font: normal normal normal 16px/24px Noto Sans CJK TC;
    }
    .email {
        margin-top: $middle;
    }
    .contact,
    .gender,
    .address {
        margin-top: $middle-sm;
    }
    .name {
        color: $color-primary;
        font: normal normal medium 20px/30px Roboto;
        margin-left: $small;
    }
    .material-icons {
        margin-left: $small-md;
        color: $color-primary;
    }
    img {
        width: 95px;
    }
}

.member-apply {
    width: 50%;
    @include mobile {
        width: 100%;
        margin-top: 60px;
    }
    .title {
        color: $color-primary;
        font: normal normal bold 32px/48px Noto Sans CJK TC;
        @include pad {
            font: normal normal bold 24px/36px Noto Sans CJK TC;
        }
    }
    .apply {
        font: normal normal normal 20px/30px Noto Sans CJK TC;
        display: block;
        width: 45%;
        color: $color-white;
        background-color: $color-secondary;
        padding: $small-lg 0;
        border-radius: $small-sm;
        text-align: center;
        margin-top: 32px;
        @include pad {
            width: 100%;
            margin-top: $middle;
        }
    }
}