// mission
.mission {
    height: 584px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/index-9.jpeg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    @include mobile {
        height: 812px;
    }
    .title {
        color: $color-white;
        font: normal normal bold 40px/60px Noto Sans CJK TC;
        padding: $X-large 0 100px;
        @include mobile {
            padding: 60px 0 0 0;
        }
    }
    .info {
        display: flex;
        @include mobile {
            display: block;
        }
        li {
            width: 25%;
            position: relative;
            @include pad {
                flex-grow: 1;
            }
            @include mobile {
                flex-grow: 0;
                width: 50%;
                margin: 0 auto;
                padding-top: $X-large;
            }
            &::before {
                content: "";
                width: 2px;
                height: 200%;
                background-color: $color-white;
                position: absolute;
                top: 0;
                left: -$small;
                @include mobile {
                    height: 120px;
                    top: $X-large;
                    left: -20px;
                }
            }
        }
    }
    .number {
        color: $color-white;
        font: normal normal bold 48px/72px Noto Sans CJK TC;
    }
    .text {
        color: $color-white;
        font: normal normal medium 20px/30px Noto Sans CJK TC;
    }
}
