// procedure
.procedure {
    margin: $X-large 0;
    @include pad {
        margin: 60px 0;
    }
    .step {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            @include pad {
                width: 30%;
            }
            @include mobile {
                width: 100%;
                &+li {
                    margin-top: 32px;
                }
            }
        }
    }
    .title {
        color: $color-primary;
        font: normal normal medium 20px/30px Noto Sans CJK TC;
        margin: $small-md 0 $small-sm;
    }
}
