// product
.product-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: $middle-sm;
    .product {
        width: 23%;
        box-shadow: 0 3px 6px $color-muted;
        border-radius: $small-sm;
        &:nth-child(n+5) {
            margin-top: 32px;
        }
        @include pad {
            width: 30%;
            &:nth-child(n + 4) {
                margin-top: $middle-sm;
            }
        }
        @include mobile {
            width: 48%;
            &:nth-child(n + 3) {
                margin-top: $small-lg;
            }
        }
    }
    .pic {
        height: 128px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: $small-sm $small-sm 0 0;
    }
    .pic-one {
        background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/homestay-2.jpeg');
    }
    .pic-two {
        background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/homestay-3.jpeg');
    }
    .pic-three {
        background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/homestay-4.jpeg');
    }
    .pic-four {
        background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/homestay-5.jpeg');
    }
    .pic-five {
        background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/homestay-6.jpeg');
    }
    .pic-six {
        background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/homestay-7.jpeg');
    }
    .pic-seven {
        background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/index-2.jpeg');
    }
    .pic-eight {
        background-image: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/petpet-week8/homestay-8.jpeg');
    }
    .content {
        padding: $small-md $small $large-sm;
        background-color: #f6f6f6;
        @include mobile {
            padding: $small-md 0 $middle-sm $small;
        }
    }
    .title {
        color: $color-primary;
        font: normal normal normal 16px/24px Noto Sans CJK TC;
        margin-bottom: 6px;
    }
    .material-icons {
        color: $color-warning;
    }
    .service {
        color: $color-primary;
        font: normal normal normal 14px/21px Noto Sans CJK TC;
    }
    .btn-group {
        display: flex;
    }
    .btn {
        width: 50%;
        display: block;
        text-align: center;
        font: normal normal normal 16px/24px Noto Sans CJK TC;
        padding: $small-lg 0;
        transition: .5s;
    }
    .btn-contact {
        color: $color-primary;
        border-radius: 0 0 0 $small-sm;
        &:hover {
            color: $color-white;
            background-color: $color-primary;
        }
    }
    .btn-reservation {
        color: $color-secondary;
        border-radius: 0 0 $small-sm 0;
        &:hover {
            color: $color-white;
            background-color: $color-secondary;
        }
    }
}