// .selection
.selection {
    background-color: $color-warning;
    padding: $small 0;
    @include mobile {
        margin-top: $small-lg;
    }
    .group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    select,
    input {
        color: $color-info;
        border: 1px solid $color-muted;
        outline: none;
        border-radius: $small-sm;
    }
    select {
        font: normal normal normal 16px/18px Helvetica Neue;
        padding: $small-md 0 $small-md $small;
    }
    .start-date,
    .end-date {
        font: normal normal normal 16px/21px Roboto;
        padding: 6px 0 6px $small;
        margin: 0 $small-md;
        @include mobile {
            width: 48%;
            margin: $small-md 0 0 0;
        }
    }
    .end-date {
        @include mobile {
            margin-left: auto;
        }
    }
    .varity {
        width: 8%;
        @include pad {
            width: 10%;
        }
        @include mobile {
            width: 25%;
        }
    }
    .area {
        width: 10%;
        margin-left: $small-md;
        @include pad {
            width: 20%;
        }
        @include mobile {
            width: 50%;
        }
    }
    .text {
        @include mobile {
            display: none;
        }
    }
}