
.db {
    display: block;
}

.lg-dn {
    display: none;
}
.md-dn {
    @include pad {
        display: none;
    }
}

.md-db {
    @include pad {
        display: block;
    }
}

.sm-dn {
    @include mobile {
        display: none;
    }
}
.sm-db {
    @include mobile {
        display: block;
        opacity: 0;
    }
}